@charset "UTF-8";
/* ----- подключаем шрифты ----- */
@font-face {
  font-family: "Inter-regular";
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-bold";
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant-regular";
  src: url("../assets/fonts/Cormorant-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant-semibold";
  src: url("../assets/fonts/Cormorant-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
/* ----- стили шрифтов ----- */
/* ----- цвета и эффекты ----- */
/* ----- размеры ----- */
.padded_box {
  max-width: 1440px;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1280px) {
  .padded_box {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 768px) {
  .padded_box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
/* ----- корневые настройки ----- */
html {
  scroll-behavior: auto;
}

body {
  background-color: #151515;
}

/* ----- кнопки и ссылки ----- */
.catalogue_title {
  font-family: "Cormorant-semibold", serif;
  font-size: 4rem;
  line-height: 4.25rem;
  color: #fff;
  margin: 5.25rem 0 2rem 0;
}

.catalogue_card_box {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.card_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  cursor: pointer;
  transition: 0.4s; /* Время эффекта */
  display: block;
}
.card_img:hover {
  transform: scale(1.2);
}

.catalogue_card {
  width: 24%;
}

.catalogue_card_text {
  font-family: "Inter-regular", serif;
  font-size: 1rem;
  line-height: 160%;
  margin-top: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  width: 80%;
  height: 4rem;
}

.catalogue_line {
  width: 100%;
}

.catalogue_card_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
}

.catalogue_price {
  font-family: "Cormorant-semibold", serif;
  font-size: 2.5rem;
  line-height: 2.75rem;
  white-space: nowrap;
  margin-left: 1rem;
}

.catalogue_size_line {
  width: 100%;
}

.catalogue_card_image {
  overflow: hidden;
  border-radius: 1.5rem;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .catalogue_price {
    font-family: "Cormorant-semibold", serif;
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
  .catalogue_card_text {
    height: 6rem;
  }
}
@media (max-width: 1024px) {
  .catalogue_title {
    font-family: "Cormorant-semibold", serif;
    font-size: 2rem;
    line-height: 2.25rem;
  }
  .catalogue_card_text {
    height: 6rem;
  }
  .catalogue_card_box {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .catalogue_card {
    width: 48.5%;
  }
}
@media (max-width: 768px) {
  .catalogue_card_text {
    font-family: "Inter-regular", serif;
    font-size: 0.875rem;
    line-height: 160%;
  }
  .catalogue_price {
    font-family: "Cormorant-semibold", serif;
    font-size: 2rem;
    line-height: 2.25rem;
  }
  .catalogue_card_box {
    display: block;
    margin-top: 2rem;
  }
  .catalogue_card_text {
    height: 3rem;
  }
  .catalogue_card {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .catalogue_card_text {
    font-family: "Inter-regular", serif;
    font-size: 0.875rem;
    line-height: 160%;
  }
  .catalogue_price {
    font-family: "Cormorant-semibold", serif;
    font-size: 2rem;
    line-height: 2.25rem;
  }
  .catalogue_card_box {
    display: block;
    margin-top: 2rem;
  }
  .catalogue_card_text {
    height: 3rem;
  }
  .catalogue_card {
    width: 100%;
    margin-bottom: 3rem;
  }
}/*# sourceMappingURL=catalogue.css.map */