@import 'design_system.scss';

// Заголовок секции каталога
.catalogue_title {
    @include cormorant_semi_64-68;
    color: $white;
    margin: 5.25rem 0 2rem 0;
}

// Коробка с карточками
.catalogue_card_box {
    display: flex;
    justify-content: space-between;
    color: $white;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.card_img {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
    transition: 0.4s; /* Время эффекта */
    display: block;
    &:hover {
        transform: scale(1.2);
    }
}

.catalogue_card {
    width: 24%;
}

.catalogue_card_text {
    @include inter_regular-16;
    margin-top: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    width: 80%;
    height: 4rem;
}

.catalogue_line {
    width: 100%;
}

.catalogue_card_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
}

.catalogue_price {
    @include cormorant_semi_40-44;
    white-space: nowrap;
    margin-left: 1rem;
}

.catalogue_size_line {
    width: 100%;
}

.catalogue_card_image {
    overflow: hidden;
    border-radius: 1.5rem;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .catalogue_price {
        @include cormorant_semi_40-44;
    }
    .catalogue_card_text {
        height: 6rem;
    }
}

@media (max-width: 1024px) {
    .catalogue_title {
        @include cormorant_semi_32-36;
    }

    .catalogue_card_text {
        height: 6rem;
    }

    .catalogue_card_box {
        flex-wrap: wrap;
        gap: 1rem;
    }

    .catalogue_card {
        width: 48.5%;
    }
}

@media (max-width: 768px) {
    .catalogue_card_text {
        @include inter_regular-14;
    }

    .catalogue_price {
        @include cormorant_semi_32-36;
    }

    .catalogue_card_box {
        display: block;
        margin-top: 2rem;
    }

    .catalogue_card_text {
        height: 3rem;
    }

    .catalogue_card {
        width: 100%;
        margin-bottom: 3rem;
    }
}

@media (max-width: 768px) {
    .catalogue_card_text {
        @include inter_regular-14;
    }

    .catalogue_price {
        @include cormorant_semi_32-36;
    }

    .catalogue_card_box {
        display: block;
        margin-top: 2rem;
    }

    .catalogue_card_text {
        height: 3rem;
    }

    .catalogue_card {
        width: 100%;
        margin-bottom: 3rem;
    }
}
