@import 'design_system.scss';
.catalogue {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.earrings,
.necklaces,
.bracelets {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem 0;
}

// Заголовок секции каталога
.catalogue_title {
    @include cormorant_semi_64-68;
    color: $white;
}

// Коробка с карточками
.catalogue_card_box {
    display: flex;
    justify-content: space-between;
    color: $white;
    flex-wrap: wrap;
    gap: 1rem;
}

.card_img {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
    transition: 0.4s; /* Время эффекта */
    display: block;
    &:hover {
        transform: scale(1.2);
    }
}

.catalogue_card {
    flex: 1 1 calc(100% / 4 - 1rem);
    width: 100%;
    margin-bottom: 1rem;
}

.catalogue_card_text {
    @include inter_regular-16;
    margin-top: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    width: 80%;
}

.catalogue_line {
    width: 100%;
}

.catalogue_card_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
}

.catalogue_price {
    @include cormorant_semi_40-44;
    white-space: nowrap;
    margin-left: 1rem;
}

.catalogue_size_line {
    width: 100%;
}

.catalogue_card_image {
    overflow: hidden;
    border-radius: 1.5rem;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .catalogue {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .earrings,
    .necklaces,
    .bracelets {
        gap: 1.5rem;
    }

    .catalogue_price {
        @include cormorant_semi_40-44;
    }
}

@media (max-width: 1024px) {
    .earrings,
    .necklaces,
    .bracelets {
        gap: 1.5rem;
    }

    .catalogue_title {
        @include cormorant_semi_32-36;
    }

    .catalogue_card_box {
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .catalogue_card {
        flex: 1 1 calc(100% / 2 - 1.5rem);
    }
}

@media (max-width: 768px) {
    .catalogue {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .catalogue_card_text {
        @include inter_regular-14;
    }

    .catalogue_price {
        @include cormorant_semi_32-36;
    }

    .catalogue_card {
        min-width: 12rem;
        flex: 1 1 calc(100% / 2 - 1.5rem);
    }
}
