@charset "UTF-8";
/* ----- подключаем шрифты ----- */
@font-face {
  font-family: "Inter-regular";
  src: url("../assets/fonts/Inter-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-bold";
  src: url("../assets/fonts/Inter-Bold.woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant-regular";
  src: url("../assets/fonts/Cormorant-Regular.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant-semibold";
  src: url("../assets/fonts/Cormorant-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}
/* ----- стили шрифтов ----- */
/* ----- цвета и эффекты ----- */
/* ----- размеры ----- */
.padded_box {
  max-width: 1440px;
  padding-left: 4rem;
  padding-right: 4rem;
  margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1280px) {
  .padded_box {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 768px) {
  .padded_box {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
/* ----- корневые настройки ----- */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #151515;
}

/* ----- кнопки и ссылки ----- */
.hero {
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
  position: relative;
}

.hero_top_layer {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 57.1428571429vw;
  max-width: 56rem;
  z-index: 100;
  transform: translate(-50%, 0);
}
.hero_top_layer img {
  width: 100%;
  max-width: 56rem;
  max-height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero_bottom_layer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.hero_bottom_layer img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero_bottom_line {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.catalogue_anchor {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  font-family: "Cormorant-regular", serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #fff;
}
.catalogue_anchor svg {
  width: 1.5rem;
  height: 1.5rem;
}
.catalogue_anchor:hover {
  color: #c9ac9c;
  transition: 0.5s;
}
.catalogue_anchor:hover svg {
  animation: bounce 1s ease infinite;
}
.catalogue_anchor:active {
  color: #a68f82;
  transition: 0.5s;
}

#anchor_catalogue {
  scroll-behavior: smooth;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.5rem);
  }
  60% {
    transform: translateY(-0.25rem);
  }
}
@keyframes bounce_mob {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-0.25rem);
  }
  60% {
    transform: translateY(-0.125rem);
  }
}
@media (max-height: 900px) {
  .hero_top_layer {
    width: 50vw;
    max-width: 48rem;
    top: 1rem;
  }
  .hero_bottom_layer img {
    max-height: calc(100vh - 16rem);
  }
}
@media (max-width: 1280px) and (orientation: landscape) {
  .hero_bottom_line {
    margin-top: 1.5rem;
  }
  .catalogue_anchor {
    font-family: "Cormorant-regular", serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .catalogue_anchor svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  .hero_slogan {
    font-family: "Cormorant-regular", serif;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #84736a;
  }
  .hero_top_layer {
    width: 60.6060606061vw;
  }
}
@media (max-width: 768px) {
  .hero_top_layer {
    top: 4.25rem;
  }
  .hero_bottom_line {
    margin-top: 1rem;
  }
  .catalogue_anchor {
    font-family: "Cormorant-regular", serif;
    font-size: 1rem;
    line-height: 1.25rem;
    gap: 0.25rem;
  }
  .catalogue_anchor svg {
    width: 1rem;
    height: 1rem;
  }
  .catalogue_anchor:hover {
    color: #c9ac9c;
    transition: 0.5s;
  }
  .catalogue_anchor:hover svg {
    animation: bounce_mob 1s ease infinite;
  }
  .hero_slogan {
    font-family: "Cormorant-regular", serif;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #84736a;
  }
}
@media screen and (orientation: landscape) {
  .hero_top_layer {
    width: 60.6060606061vh;
  }
}/*# sourceMappingURL=hero.css.map */