@import 'design_system.scss';

.history {
    padding-top: 4rem;
    padding-bottom: 4rem;
    overflow: hidden;
}

.history_content {
    display: flex;
    gap: 6rem;
}

/* текстовая часть */

.history_text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: calc(100% - 35.5rem - 4rem);
    color: $white;
    @include inter_regular-16;
}

.history_title {
    @include cormorant_semi_64-68;
}

.history_title_hilight {
    color: $beige_2;
}

.history_button {
    margin-top: 1.25rem;
    @include beige_button;
}

/* картинки */
.history_images {
    width: 35.5rem;
    flex-shrink: 0;
    box-sizing: border-box;
}

.history_author_img {
    position: relative;
    top: 0;
    left: 3rem;
    width: 29rem;
    border-radius: 1.5rem;
}

.history_example_img {
    position: relative;
    top: -5rem;
    left: 16.5rem;
    width: 19rem;
    border-radius: 1.5rem;
    box-shadow: 0 -1rem 1.5rem rgba(23, 36, 65, 0.16);
}

.history_animated_label {
    position: relative;
    top: -30rem;
}

.rotate {
    width: 9.5rem;
    height: 9.5rem;
    background-image: url(../assets/history_spinning_circle.svg);
    animation: spinner 12s linear infinite;
}

.rotate_star {
    position: absolute;
    top: 4.75rem;
    left: 4.75rem;
    transform: translate(-50%, -50%);
}

@media (min-width: 769px) and (max-width: 1280px) {
    .history {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .history_content {
        gap: 2rem;
    }

    /* текстовая часть */

    .history_text {
        max-width: calc(100% - 24.75rem - 2rem);
    }

    .history_title {
        @include cormorant_semi_56-60;
    }

    /* картинки */
    .history_images {
        width: 24.75rem;
    }

    .history_author_img {
        width: 19.25rem;
        border-radius: 1rem;
    }

    .history_example_img {
        top: -4rem;
        left: 12rem;
        width: 12.5rem;
        border-radius: 1rem;
    }

    .history_animated_label {
        top: -20rem;
    }
}

@media (max-width: 768px) {
    .history {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }

    .history_content {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    /* текстовая часть */

    .history_text {
        max-width: 100%;
        p {
            @include inter_regular-14;
        }
    }

    .history_title {
        @include cormorant_semi_32-36;
    }

    .history_button {
        align-self: center;
        width: 100%;
        max-width: 26rem;
        box-sizing: border-box;
        .text {
            text-align: center;
        }
    }

    /* картинки */
    .history_images {
        height: calc((100vw - 3rem) * 3 / 4);
        width: 100%;
    }

    .history_author_img {
        top: 0;
        left: 0;
        width: calc(50% + 3rem);
        border-radius: 0.5rem;
    }

    .history_example_img {
        position: relative;
        top: auto;
        bottom: 1rem;
        left: calc(50% - 3rem);
        width: calc(50% + 3rem);
        transform: translateY(-100%);
        border-radius: 0.5rem;
    }

    .history_animated_label {
        position: relative;
        top: -100%;
        left: auto;
        right: 9.5rem;
        transform: translate(100%, -50%);
    }
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}
